<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Task Notification</title>
</head>
<h1>Task Notification</h1>
<div>
    <p>Dear <span th:text="${developer.firstname}"/> <span th:text="${developer.lastname}"/></p>

    <div th:switch="${operation.name()}">
        <p th:case="'ASSIGNED'">You have been <b>ASSIGNED</b> to task "<span th:text="${taskTitle}"/>" in project "<span th:text="${project.name}"/>"</p>
        <p th:case="'UNASSIGNED'">You have been <b>UNASSIGNED</b> from task "<span th:text="${taskTitle}"/>" in project "<span th:text="${project.name}"/>"</p>
    </div>

</div>
</html>