html[data-theme='dark'] {
    --main-color: rgb(17,193,144);
    --gray: rgb(108, 119, 124);
    --additional-color: rgb(27,229,172);
    --main-pale: rgba(145, 253, 221, 0.36);
    --error-background: rgb(255, 189, 189);
    --error-text: rgb(255, 61, 61);
    --background: #000620;
    --background2: #151825;
    --shadow: #ddd;
    --field: #878787;
    --gray2: #ccc;
    --background3: #303985;
    --font-main: #fff;
    --font-additional: rgb(228, 228, 228);
    --svg-icon-color: #fff;
    --disabled: #f8f9fa;
    --border: #d5d5d5;
    --overlay: rgba(1, 0, 0, 0.5);
}