html {
    --main-color: rgb(17,193,144);
    --gray: rgb(25,42,50);
    --additional-color: rgb(27,229,172);
    --error-background: rgb(255, 189, 189);
    --error-text: rgb(255, 61, 61);
    --background: #fffde7;
    --background2: #fff;
    --shadow: #ddd;
    --field: #f5f5f5;
    --gray2: #ccc;
    --font-main: #000000;
    --font-additional: rgb(133, 133, 133);
    --svg-icon-color: #000;
    --disabled: #f8f9fa;
}