.login-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 50vh;
}

.login-container {
    width: 100%;
    padding: 20px;
    background-color: var(--background2);
    border-radius: 15px;
    box-shadow: 2px 2px 5px var(--shadow);
}

@media (min-width: 800px) {
    .login-container {
        width: 448px;
    }
}

.login-titles {
    text-align: center;
}

.login-second-title{
    margin-bottom: 10px;
    font-weight: inherit;
    color: var(--gray);
}

.error {
    text-align: left;
    color: var(--error-text);
    font-size: 12px;
}

.error.title{
    font-size: 16px;
    text-align: center;
}

.answer-message{
    margin: 20px;
}
